In [1]:
import time
from selenium import webdriver
import pandas as pd

url=r"/Users/ahmedsaad/Desktop/Data science/geckodriver"
driver=webdriver.Firefox(executable_path=url)
driver.get("https://www.bet.co.za/bet-games/")
a=[]
b=[]
c=[]
d=[]
e=[]
g=[]
f=[]
o=[]
time.sleep(10)
all_iframes = driver.find_elements_by_tag_name('iframe')
driver.switch_to.frame(all_iframes[1])

all_titles = driver.find_elements_by_css_selector('div.game-title')
all_titles[6].click()
time.sleep(1)

all_samples = driver.find_elements_by_css_selector('div.game-result')
dayTimeString=driver.find_elements_by_css_selector('div.last-results-item-time')


for sample in all_samples:
    all_balls = sample.find_elements_by_css_selector('span.ball-item')
    all_text = [ball.text for ball in all_balls]
    a.append( all_text[0])
    b.append( all_text[1])
    c.append( all_text[2])
    d.append( all_text[3])
    e.append( all_text[4])
    f.append( all_text[5])
    g.append( all_text[6])

for i in dayTimeString:
    o.append(i.text)
    
df=pd.DataFrame({'o':o,'a':a,'b':b,'c':c,'d':d,'e':e,'f':f,'g':g}) 
df.to_csv("project_no2.csv",index=False)
pd.read_csv("project_no2.csv")

       o   a   b   c   d   e   f   g
0  23:24   5  18  28  38  16   1  33
1  23:20  34   1  22  33  32  11  36
2  23:16  19  14  26  20  29  12   8
3  23:12  29   9   2  14  40   1  32
4  23:08  24  38  15  35   3  12   6

In [34]:
import time
from selenium import webdriver
import pandas as pd

url=r"/Users/ahmedsaad/Desktop/Data science/geckodriver"
driver=webdriver.Firefox(executable_path=url)
driver.get("https://www.worldometers.info/coronavirus/")
a=[]
b=[]
c=[]
d=[]
e=[]
f=[]
g=[]
h=[]
ii=[]
m=[]
n=[]
o=[]
q=[]
table=driver.find_element_by_id("main_table_countries_today") 
table1=driver.find_element_by_xpath("//*[@id='main_table_countries_today']")
country_name=driver.find_elements_by_xpath('//*[@id="main_table_countries_today"]/tbody[1]/tr/td[2]')
total_case=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[3]")
new_cases=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[4]")
total_death=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[5]")
new_death=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[6]")
total_recovered=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[7]")
active_cases=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[8]")
serious_critical=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[9]")
tot_cases_1mpop=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[10]")
total_death_1mpop=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[11]")
total_tests=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[12]")
tests_1mpop=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[13]")
population=driver.find_elements_by_xpath("//*[@id='main_table_countries_today']/tbody[1]/tr/td[14]")


number=len(country_name)
for i in range(number):
    a.append(country_name[i].text)
    b.append(total_case[i].text)
    c.append(new_cases[i].text)
    d.append(total_death[i].text)
    e.append(new_death[i].text)
    f.append(total_recovered[i].text)
    g.append(active_cases[i].text)
    h.append(serious_critical[i].text)
    ii.append(tot_cases_1mpop[i].text)
    m.append(total_death_1mpop[i].text)
    n.append(total_tests[i].text)
    o.append(tests_1mpop[i].text)
    q.append(population[i].text)
    


scraped_data = pd.DataFrame({"country_name":a,"total_case":b,"new_cases":c,"total_death":d,"new_death":e,"total_recovered":f,"active_cases":g,"serious_critical":h,"tot_cases_1mpop":ii,"total_death_1mpop":m,"total_tests":n,"tests_1mpop":o,"population":q})

In [44]:
import time
from selenium import webdriver
import pandas as pd

url=r"/Users/ahmedsaad/Desktop/Data science/geckodriver"
driver=webdriver.Firefox(executable_path=url)
driver.get("https://www.worldometers.info/coronavirus/")
coronavirus_cases=driver.find_element_by_xpath("//span[@style='color:#aaa']")
death=driver.find_element_by_xpath('//div[@class="maincounter-number" and not(@style="color:#8ACA2B ")]/span[not(@style="color:#aaa")]')
recovered=driver.find_element_by_xpath("//div[@class='maincounter-number' and @style='color:#8ACA2B ']/span")
print("coronavirus cases: ",coronavirus_cases.text)
print("Death: ",death.text)
print("Recovered: ",recovered.text)

coronavirus cases:  20,022,265
Death:  733,971
Recovered:  12,897,799

In [43]:
aw=driver.find_elements_by_xpath("//*[@id='maincounter-wrap']/div/span")

print("coronavirus cases: ",aw[0].text)
print("Death: ",aw[1].text)
print("Recovered: ",aw[2].text)

coronavirus cases:  20,022,265
Death:  733,971
Recovered:  12,897,799

In [37]:
scraped_data.to_csv("covid19.csv",index=False)
pd.read_csv("covid19.csv")

,country_name,total_case,new_cases,total_death,new_death,total_recovered,active_cases,serious_critical,tot_cases_1mpop,total_death_1mpop,total_tests,tests_1mpop,population
0,World,"20,021,321","+4,776","733,918",311.0,"12,896,895","6,390,508","64,666","2,569",94.2,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USA,"5,199,444",NaN,"165,617",NaN,"2,664,701","2,369,126","17,812","15,698",500,"65,433,251","197,556","331,214,010"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Western Sahara,10,NaN,1,NaN,8,1,NaN,17,2,NaN,NaN,"598,803"
219,MS Zaandam,9,NaN,2,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN
220,British Virgin Islands,9,NaN,1,NaN,7,1,NaN,297,33,"1,522","50,309","30,253"
221,Saint Pierre Miquelon,4,NaN,NaN,NaN,1,3,NaN,691,NaN,NaN,NaN,"5,791"
222,Anguilla,3,NaN,NaN,NaN,3,0,NaN,200,NaN,537,"35,759","15,017"